{% set breadcrumb = eleventyNavigation %}
{% if breadcrumb and breadcrumb.key %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Accueil",
      "item": "https://chubert91assmat.netlify.app/"
    },
    {
      "@type": "ListItem",
      "position": 2,
      "name": "{{ breadcrumb.key }}",
      "item": "https://chubert91assmat.netlify.app{{ page.url }}"
    }
  ]
}
</script>
{% endif %}
